<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Directory Id="dirEA5DE0DA87CCDD60F4B26843B622260F" Name="Assemblies" />
            <Directory Id="dir5E6DA158F27D9CA2AB915EC6AB53B383" Name="Icons" />
            <Directory Id="dir76FECF1F6866C99B53BEB3C218E46523" Name="Languages" />
            <Directory Id="dirB699B779DD859CB7CAD46DA4BC9017C0" Name="runtimes" />
            <Directory Id="dir54B0732D1EC7055747BB11A9069B5872" Name="Schemas" />
            <Directory Id="dir449D12A97ECE34898DFE89F1087779C9" Name="Themes" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MandatoryComponents">
            <Component Id="cmp35D96EA44AD8354ED2F995D3EBCCE1A7" Directory="INSTALLDIR" Guid="*">
                <File Id="fil19AFB7CDBA1EEFE8FFFF6028483B5EC8" KeyPath="yes" Source="$(var.HarvestPath)\AxInterop.MSTSCLib.dll" />
            </Component>
            <Component Id="cmpD846FD49FC176CEFBA3E8411896C6DEE" Directory="INSTALLDIR" Guid="*">
                <File Id="fil86AC9D6CDBC2AE2AADFE752F1AD83685" KeyPath="yes" Source="$(var.HarvestPath)\ExternalConnectors.dll" />
            </Component>
            <Component Id="cmp0E22CC4281F53936AB57E54775E94F4C" Directory="INSTALLDIR" Guid="*">
                <File Id="filEA870C5699E25304BC08ED0EFD930BC6" KeyPath="yes" Source="$(var.HarvestPath)\ExternalConnectors.pdb" />
            </Component>
            <Component Id="cmp3B87E05C275CE85388D030CC01BF1E20" Directory="INSTALLDIR" Guid="*">
                <File Id="fil3FCEFF3CAE083B7927D5D4E4B0218A88" KeyPath="yes" Source="$(var.HarvestPath)\Interop.MSTSCLib.dll" />
            </Component>
            <Component Id="cmp375F226751B298CD70903C1646985757" Directory="INSTALLDIR" Guid="*">
                <File Id="filBF38EEDD7B5695007E9582D7EF347826" KeyPath="yes" Source="$(var.HarvestPath)\log4net.config" />
            </Component>
            <Component Id="cmp104087D18B25A9A8D2ECC5B6EA2AE79B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil5282108DD54B6C7D192C3E9D001FD4E7" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Web.WebView2.Core.dll" />
            </Component>
            
            <Component Id="cmp3ED4B6E14797367C1383E408A6961B85" Directory="INSTALLDIR" Guid="*">
                <File Id="filBEB43BF024BDDFB47075A1E970FB51F2" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Web.WebView2.WinForms.dll" />
            </Component>
            
            <Component Id="cmp6EED7245C933A23BDE5CBE3B4DD32858" Directory="INSTALLDIR" Guid="*">
                <File Id="fil157A3D211984A88620C183E777A80E6C" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Web.WebView2.Wpf.dll" />
            </Component>
            
            <Component Id="cmp7BBC914C2D9AE0E04A00AA2CF03B3079" Directory="INSTALLDIR" Guid="*">
                <File Id="fil245C1F42A64B9E10948A26E3F1A58891" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.appSettings" />
            </Component>
            <Component Id="cmp41D33384103998013724F7507BE537A3" Directory="INSTALLDIR" Guid="*">
                <File Id="filD409F3953DFE64FEE2FDC4460BD98297" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.deps.json" />
            </Component>
            <Component Id="cmpFF3B070182BDDDE8AACCA3CF800537A7" Directory="INSTALLDIR" Guid="*">
                <File Id="fil071813CC6E65500817D01BDDD73D2B1F" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.dll" />
            </Component>
            <Component Id="cmpC77C2640528674DBBCF20ADD1500C112" Directory="INSTALLDIR" Guid="*">
                <File Id="filAC4D49028FDDA1626E5B006C9D1ED57E" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.dll.config" />
            </Component>
            
            <Component Id="cmp67313C6B4CE3487E9A8165EFFE369D16" Directory="INSTALLDIR" Guid="*">
                <File Id="fil5F0524AF62166FF3C4DAE07F1113C0D9" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.pdb" />
            </Component>
            <Component Id="cmp9FF194CCD09E9797444CF95F7C37C75A" Directory="INSTALLDIR" Guid="*">
                <File Id="fil09655B2FCDF14CBBA2E03BBD3F6C58EE" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.runtimeconfig.json" />
            </Component>
            
            <Component Id="cmp2C1BBE07A32C31BCF92912D601AD4864" Directory="INSTALLDIR" Guid="*">
                <File Id="fil357AF76EEBAC3CE454CB549E0C337C8A" KeyPath="yes" Source="$(var.HarvestPath)\ObjectListView.dll" />
            </Component>
            <Component Id="cmp453A7CFAC82EFE94060420B9EC717B13" Directory="INSTALLDIR" Guid="*">
                <File Id="fil75E4B7BB134A62C4BBDC1D28A03634C9" KeyPath="yes" Source="$(var.HarvestPath)\ObjectListView.pdb" />
            </Component>
            <Component Id="cmp3019E4BCFC1F7BFEB026297F494CDC2E" Directory="INSTALLDIR" Guid="*">
                <File Id="fil797FCFCB5FB0EBD58C78584C7C63BF5A" KeyPath="yes" Source="$(var.HarvestPath)\PuTTYNG.exe" />
            </Component>
            <Component Id="cmp706223D2ABF6685A8E778D40099041C4" Directory="INSTALLDIR" Guid="*">
                <File Id="filB19F03244FC8ACDFED93F0A01EDD6A3F" KeyPath="yes" Source="$(var.HarvestPath)\VisualElements_150.png" />
            </Component>
            <Component Id="cmp255D4D829FEC7E132FD1C14ECB455A2C" Directory="INSTALLDIR" Guid="*">
                <File Id="fil4F8AD9111B5248D2CBC3F4AD3D2EDB8B" KeyPath="yes" Source="$(var.HarvestPath)\VisualElements_70.png" />
            </Component>
            <Component Id="cmp71560C791E2DF17E0A5781F8B518DA78" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filC8E3336E7FE2FD9E0AEB7C87CED46225" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\AWSSDK.Core.dll" />
            </Component>
            <Component Id="cmpA0441C32B788060C47970989ED4B5ABF" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filF17B847CF8A244207E315885859FD897" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\AWSSDK.EC2.dll" />
            </Component>
            <Component Id="cmp9C05BA0000D3C7442C3269AC269A6E0D" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil05368A8F5D5D305EE8BA8527BE51114D" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\BouncyCastle.Cryptography.dll" />
            </Component>
            <Component Id="cmp57E640C9AF0343B3206A86DEE4E5D1D3" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil0751F7CA5335535177552B9384B9E42A" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Castle.Core.dll" />
            </Component>
            <Component Id="cmpB4829D29933143FC7EC41E4416454794" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil6B74A4B5A77BC2B6A9A4E9458ADAF7BC" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\comerr64.dll" />
            </Component>
            <Component Id="cmpBE76B38E37DAD55259395A40A5E535B4" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filD581E057E06FAB8FF99FA8F3ABD091D6" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\ConsoleControl.dll" />
            </Component>
            <Component Id="cmp6E272AFE23CB4F168D530F0D9F506CC1" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil98BE0AB9E106949745E0A8E6F2997799" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\ConsoleControlAPI.dll" />
            </Component>
            <Component Id="cmp2710E61893A487A8905367F8C453C97A" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil64C8BAD21EBE23E8DCC0BB5925D918C9" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Cucumber.Messages.dll" />
            </Component>
            <Component Id="cmp7490A8F9A8DB3A624A5D8CB9577798B6" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil6F297ECD4F58F89504D1FF9A059DCAED" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Google.Protobuf.dll" />
            </Component>
            <Component Id="cmp7295E4BBDC615071A838C1406E0FF4EB" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil03838243C7803F6B3F8FB33DD6D38927" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\gssapi64.dll" />
            </Component>
            <Component Id="cmp9E0D8ECE60952A26FCA591AB778731B6" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filB6F1F0BA44CAF93DCFEEED23A13ABE30" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\K4os.Compression.LZ4.dll" />
            </Component>
            <Component Id="cmpB2133070D079CC87A6208B6590DB2889" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil43ECC17F02B604E4873F7CFABE4296CA" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\K4os.Compression.LZ4.Streams.dll" />
            </Component>
            <Component Id="cmpEEE8E51C8F1C8B526D04932D83120CB8" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil72BBC02583F7073E863073BA27C4EE71" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\K4os.Hash.xxHash.dll" />
            </Component>
            <Component Id="cmpC9301BE7C3B3BAECF38A4CB9A0016C54" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil51E3639CAA2A191FECC60E4594677BD0" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\k5sprt64.dll" />
            </Component>
            <Component Id="cmp78EA30E901FD3837AC02E16ABDC027A3" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil79C20A47538657AA9F0BBBF6D8D49D58" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\krb5_64.dll" />
            </Component>
            <Component Id="cmp63A6483817552D7BD73E83A9F114372D" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filD91BF289298C520CD2C4CD2F83919C31" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\krbcc64.dll" />
            </Component>
            <Component Id="cmpD9B5822311AC53B29E53974541779BD7" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil244270BF738D34D2DFD126BD36189DBE" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\LiteDB.dll" />
            </Component>
            <Component Id="cmpB4D15D56199032BB587B2830A03BBFD2" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filF792872055326743DF87147B6E835CFD" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\log4net.dll" />
            </Component>
            <Component Id="cmp7AF5E15A541EA9AFFFE8D07682F22555" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil443EC1DF7E4E7D04E410E950FC668F43" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmpD87041C19E9D0870B92A04C306C697D1" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil956371BA5FD20017BFC7B3E17E1669CE" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp646D2DA3407CC52FFA5557594F4ACD8E" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil076D1B3FB5D94B3AB8E492882DE1CD61" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp97E28384D6C66AB3A9E8BD2444C9454E" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil1B2672335341208ADC6360CB16726721" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp53C4A27E91795A046145AB2764E6A233" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filBFD012005A78DC66834C9B7672A8F42C" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmpB590A2EF65E8C6BA0D8E8A9A00EE50B3" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filCBE1F729C91EE76D3EFA60A17451836F" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmpB16C767899E06180DA057163B9E460D3" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil7E480EBC58594DFE1E465DCCF58F4575" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp672C0FBC4F8F2EB798E13647574B2B11" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil2108085CCC3B5660A67341226AC34186" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmp485B60646E8AD7AD35F595367BA67B29" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil305E974ACE3243277235618C8BF9EB57" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp6DDF5D90EE104011970A9D3625C1804F" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil0D4443CDCAFF6BDC591DBBA69D5773D8" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmp71DFBF24555A1B1EB7CEAF528F4CC164" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filA4A8DBDB19DC67DC5F713D4B7081539B" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="cmp5E2BFB24AA7B3EDC066B2B2A98692803" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filD4F58C78C296BDDD0AA0DC550B54C488" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.WindowsAPICodePack.Shell.dll" />
            </Component>
            <Component Id="cmpD031491E2D2A0B66927CBD9A768EBF38" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil23955F19633C7E79DC0FC3D52653DBF9" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmpA37CFA3604156A8B34BE57802B077EFD" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil4F406B659298EAAC4741B966EF68B5EC" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\MySql.Data.dll" />
            </Component>
            <Component Id="cmpF9AB2384BF489D4C04293854CA6968A1" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil278E1AA2D9F9D520CFBBDD57ACBA4B82" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp0B1D954663957EC625C5EE7C1943073E" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filD0B916E45C4C0C6873C31034761313EC" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Newtonsoft.Json.Schema.dll" />
            </Component>
            <Component Id="cmp3241485205830DB376DB66B9155B346A" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil1EEA40DAC8EF878C897419A71FBDD28F" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Renci.SshNet.Async.dll" />
            </Component>
            <Component Id="cmp361EEE77E5E353ED53980C78A77F1C68" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filC15EAFA12C6336D8B6BAAE8FA62A711B" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Renci.SshNet.dll" />
            </Component>
            <Component Id="cmp1060EDC7469E442F9C6B52E893483231" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filA85637B94BB2D0605049209F6A92ED5C" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\sni.dll" />
            </Component>
            <Component Id="cmp7FAF50FD8200AF236A928345A61AAEF0" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filE41EE8C1EF32CFB6D2172C7A7865668F" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.CodeDom.dll" />
            </Component>
            <Component Id="cmpAE0E8F321CC9B105BFD21A01BFAFB4A9" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filB7799F11B9109EE9A930AA4E657B581F" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="cmp7C16AC42CE9A25DAF4165E52A6C6FF64" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filA706063D326FCC871C765457804734D6" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\Microsoft.Data.SqlClient.dll" />
            </Component>
            <Component Id="cmp8B9201781C616B2EF8F835BA72B27F0D" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filC4F812D5888AB492B912C79A224F3825" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmpAF6590CFC3A5C5503D6C94BD50984569" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil8EB9B0E9BC1497463CD9860452265A25" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.DirectoryServices.dll" />
            </Component>
            <Component Id="cmp0C28E1D2E89936924959271729D6582A" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil6B1CE3A32E22D5E559AE970D6CECB76C" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmp765254F61ED5981D44DB72A18E36D9D1" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filF3F6DF2D110B96611FAE039862905B4A" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.Management.dll" />
            </Component>
            <Component Id="cmp60A16FDE1EAE14F5A1CEAA1BFC4FB65A" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filC64EA4B6EF173B573B3DDB6845EC5FA1" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.Private.Windows.Core.dll" />
            </Component>
            <Component Id="cmp8F9D2B732EE7F0A04391DCC6BF71B52D" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil8F7A79587C3F410C47D974EBE29C8D97" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.Security.Cryptography.ProtectedData.dll" />
            </Component>
            <Component Id="cmp60C882C96CD1F5397DFC88C9DC8EF72F" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil38022ADBF50CCC2A74B20EB600274DE8" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.Security.Permissions.dll" />
            </Component>
            <Component Id="cmp181AE9701D7B0929C82B9088EA679DD2" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil40CFB266222E83AA8796D378E810D9FE" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\System.Windows.Extensions.dll" />
            </Component>
            <Component Id="cmp91AF0DA940C0C1686EBEA00C42E97303" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="filAE1365C3205BCB5594D58106D66B0EBC" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\VncSharpCore.dll" />
            </Component>
            <Component Id="cmp9E24C15B81969DD04B9D2D35F3A3EFF6" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil280111F43B2FB1D062E5AEB78B2D53BF" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\WebView2Loader.dll" />
            </Component>
            <Component Id="cmp11FFAF95904071E52790E377E23B47C1" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil42CEF2B72408D855B173AC40AD44B92A" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmpEFD196E1AC0274FE0E2FBA1F995C5DDB" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil4FD3E8C024852C1F69233E96C40C4012" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
            </Component>
            <Component Id="cmp8185C79E13C1EFA435B800A0FF338B21" Directory="dirEA5DE0DA87CCDD60F4B26843B622260F" Guid="*">
                <File Id="fil297D1B904F44B56D02D2493BD7046664" KeyPath="yes" Source="$(var.HarvestPath)\Assemblies\ZstdSharp.dll" />
            </Component>
            <Component Id="cmp60BEB4749EF0B6350757C1422ED72958" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil0F9CE0F66286B9AFBF21C2D7C69307CD" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Admin.ico" />
            </Component>
            <Component Id="cmpED2DD5896F248BE55F55F7D303D3C421" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil873376CA2A3FB0F84C2411CED15C106A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Anti Virus.ico" />
            </Component>
            <Component Id="cmpCEBE14E8CB8DF6D4DB964C604F4C52E5" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil7B0D51A58C760E23703EF3E8011830C3" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Apple.ico" />
            </Component>
            <Component Id="cmpC4484761964AFB973D742B67A2B4DFFB" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil1ED3A3A85443AB8D0433ACF1D913E016" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Backup.ico" />
            </Component>
            <Component Id="cmp75F908087E133D7E5632C2AED7151821" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filE9E31F517253037124BD42C0B830308A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Build Server.ico" />
            </Component>
            <Component Id="cmp260080F4032811F69C7BF593C3807932" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filF7312E739B72C02EC1098913FDE7698B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Console.ico" />
            </Component>
            <Component Id="cmp1FEE635B776DFA8B857CF52387E93B93" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filA9262D06955016AA04A76B15E611228A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Database.ico" />
            </Component>
            <Component Id="cmpDD752B1D3920971301E59D0F4330E5B8" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil6A9F3BD0A4CA8EB392313F538160451D" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Domain Controller.ico" />
            </Component>
            <Component Id="cmp7529A80522BE2F489CE29A77CDE75563" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filD387F7B3BA1F144C87CDF3F073F693BE" KeyPath="yes" Source="$(var.HarvestPath)\Icons\ESX.ico" />
            </Component>
            <Component Id="cmp98A4AAF5CE7D08D38B45DAAC292DAAE9" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filE66B101D07CEC7355D5E27FD16F9D560" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Fax.ico" />
            </Component>
            <Component Id="cmpE7A35D214B596D7DED53C644415D383B" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil9800B5F2226ACF226E3A84F65CCB0EE6" KeyPath="yes" Source="$(var.HarvestPath)\Icons\File Server.ico" />
            </Component>
            <Component Id="cmp5099815041FF29F109B8B372E04C224D" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil9BA0B69CC0621ED0B96B84764537649C" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Finance.ico" />
            </Component>
            <Component Id="cmpFB1AAE5F37978B65BC890C43009B7479" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filFAE0C68FF189D979F556914FA99D658B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Firewall.ico" />
            </Component>
            <Component Id="cmp3B77B3A258E1697AD8428E95F6778A8B" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil920AC8203BE68BD6A62080E4A7491B84" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Infrastructure.ico" />
            </Component>
            <Component Id="cmpF8C16EB2F8E5F8C6E32A501AE9F091F0" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil76B8A4B03FF896FA3C086EFAF182B622" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Linux.ico" />
            </Component>
            <Component Id="cmp39A6084DEFDD6A242EB6F64ED37E343E" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil699120D8828E12D589A75E629BFAF24A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Log.ico" />
            </Component>
            <Component Id="cmp14D7A735D9C40FAED5250CEAEDD1417D" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil979943C9EDEE8950816F5C4A73976571" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Mail Server.ico" />
            </Component>
            <Component Id="cmp576892BE7140AB928C8A4BBF16868C78" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil5D46D49178EB9D36AA45B5A32A6B185B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\mRemote.ico" />
            </Component>
            <Component Id="cmpB2A85C7B04FB2075DDD83FD65A3D8119" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil7089D0DA6D3D72648762BA64369418F9" KeyPath="yes" Source="$(var.HarvestPath)\Icons\mRemoteNG.ico" />
            </Component>
            <Component Id="cmpAB7717112F26D1CD156E5291D682BE22" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil61DA7FB9F4D7361410850C2314F05B20" KeyPath="yes" Source="$(var.HarvestPath)\Icons\PowerShell.ico" />
            </Component>
            <Component Id="cmpB3227F5E969B98250E85EB0763E894BE" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil75083F896938EE4246E83859E5E9F1CA" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Production.ico" />
            </Component>
            <Component Id="cmp72D990ECEF13F8280352A03E043F79BA" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil24BA6D3AC06B6909D0B00A10814E576F" KeyPath="yes" Source="$(var.HarvestPath)\Icons\PuTTY.ico" />
            </Component>
            <Component Id="cmp9A8A06E3833AF93B6ACE3CBDAD53AB21" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil49F1D8A7FF72E173AF3CF11F7E53A3EA" KeyPath="yes" Source="$(var.HarvestPath)\Icons\RaspberryPi.ico" />
            </Component>
            <Component Id="cmp7C686FD24868DF636E058B7820ABD142" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil1CC32079F1DD2DB0FBD9DBA4AF7F08B1" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Remote Desktop.ico" />
            </Component>
            <Component Id="cmp43B9B03EAE26421AD5785AED6CC7B695" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil50C13A2996D9F2E68AA8472DF216BB84" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Router.ico" />
            </Component>
            <Component Id="cmp4A7190066C0FDAAE97B276A5AD23859E" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil8246077617D85C6F0EEFFD1246DE607A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\SharePoint.ico" />
            </Component>
            <Component Id="cmp44C3B2CAEB323433EA33B7EC1A1DF883" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filE4724A058834682D35A1D03229A192A6" KeyPath="yes" Source="$(var.HarvestPath)\Icons\SSH.ico" />
            </Component>
            <Component Id="cmp70CC9D4FBC0D87CE13C4E68C0375FF58" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil0ACD18012073615047B7F5810E0248B2" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Staging.ico" />
            </Component>
            <Component Id="cmpA80D6ED557A1172E9E25577657315D6E" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filD20398CE846B212F67B77D4DDC63F075" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Switch.ico" />
            </Component>
            <Component Id="cmp3A5D8E911572BC9B0AED10E4E955162D" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil12CA3DA43ABD6FC62956584DBD774DFB" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Tel.ico" />
            </Component>
            <Component Id="cmpF003BC60462A8B74DC28F6E0C8C5C3C0" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil98C7293D55AC66939F08D2C6157572C2" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Telnet.ico" />
            </Component>
            <Component Id="cmp2878B414FF374FB0AA51C5BC23398133" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil2B090EAE9EF2F44CF2A3E7DAAF1105D4" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Terminal Server.ico" />
            </Component>
            <Component Id="cmp52E44780A0CAB8AC479BB15A5E8D608A" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil1D9838F8B338948432C2A7788ED75FA7" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Test Server.ico" />
            </Component>
            <Component Id="cmp5B31AD89D5988BF2650DE6C3E4DB6E08" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filEDC891344B441EDF7B51D67BE7CFF4B8" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Virtual Machine.ico" />
            </Component>
            <Component Id="cmp828D4378DD0AF0425CBF0D2704879F09" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil6DD578D52D872E9BFFDFB56EA272118B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Web Server.ico" />
            </Component>
            <Component Id="cmp88965407BC570EEF9E0E78748AA64EF3" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil20DFB622D98807BEAA0B349EDDEFD583" KeyPath="yes" Source="$(var.HarvestPath)\Icons\WiFi.ico" />
            </Component>
            <Component Id="cmp0F7C27C22955E885F3E4C68E0EC431E3" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filA4656BC127CB163639788BF510F253A4" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Windows.ico" />
            </Component>
            <Component Id="cmp2DF86AFCC97AE4C0063FE45EBCFCB7FE" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil100CAAAF0BF4C3FB196087F29DA37CDE" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Workstation.ico" />
            </Component>
            <Component Id="cmpA651B01F641BB206D5F7EA89434DBDBE" Directory="dir1AFA93102FCA9FBEC2966FCACED8C1A9" Guid="*">
                <File Id="fil862220B38093D986FEA2CE6EF6232542" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\cs-CZ\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp0A578A25F5AF7EFB1EE0FEF553A6F0DF" Directory="dirED985479573DF8B313197B5DBB2F73F2" Guid="*">
                <File Id="fil80D5E1C8722A4870871818F495126FF6" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\de\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp4CBB1299D7E5512587964221FB328BD3" Directory="dirB3291EF77F897E7301D938303D9CD529" Guid="*">
                <File Id="fil6DBF41F0E83D83EF5BA50BA3538A453F" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\el\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpFB94409EC894A837E90DD00FAA1E609A" Directory="dirA897D18E6E07823761300E74492E6FEB" Guid="*">
                <File Id="fil957640F2BCB9421B19EE6803970EE3C7" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\es\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp6476E0A79D309085A05EDF52A6942FC5" Directory="dir96AB459F9F5ADF1EDF1CF38173FA7634" Guid="*">
                <File Id="fil032725BD81C0B9182818867497822208" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\es-AR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp22C3EE1996D81B727664B9EC1CB02435" Directory="dir2BD65C87E55509DA9225F87D9547ADA2" Guid="*">
                <File Id="fil594CA4575D03E6FAE3A0FF4D268DEBBD" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\fi-FI\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpB1C711888A7C5C996DC6AF7C35107C6D" Directory="dir985D5A906253F39A06947BE0EF6F0269" Guid="*">
                <File Id="fil09CC3DC1D9AC366627C34084C09DE636" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\fr\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp9D94CF4FEB4FAB18DA3369C3C17342FB" Directory="dir453026E488A0BBFF1A308755D2B9BF9F" Guid="*">
                <File Id="fil20CD961CC0BAE94AF7894DFB74322146" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\hu\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpC3E1BD537160CE60C9ABC711CAE5FB4E" Directory="dir4C505595AE9F20FDA635D87E4B336873" Guid="*">
                <File Id="fil661ED8B8B31ABFB9090BF5592FD4466E" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\it\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpF4F9759F900431DEE655E68B1168A456" Directory="dir1A4351490EDC54FFAAE8D2A13D8B5C1E" Guid="*">
                <File Id="fil66B07F3D16E2A04806BA6C6093350F41" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\ja-JP\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpD59C84E78A55BC994C4401FFE60F2EF6" Directory="dirAF6C0D6E36E224DFCAA818C431F1793D" Guid="*">
                <File Id="filE1C76D1AD3E3EE9559DFECF30D9B41B3" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\ko-KR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpE5270755B00CD5ECD4140B94652DAB00" Directory="dir493575540E263D276ADE4AE008626DC7" Guid="*">
                <File Id="filA6AC264A8979D546D2D73552D8C52AC6" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\lt\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp2467503A65C5B6CD53CE7745D3126BD2" Directory="dir39E06C640F1024E183719EA37A35DA6A" Guid="*">
                <File Id="filB57C8F36267636BF23C7E03BEAB1FEA8" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\nb-NO\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpCEC072669BC6EEE6C19B5551323B8794" Directory="dirC5CE47E87BADAF4B1E7B07DB212F344A" Guid="*">
                <File Id="fil0BDED45AD9588310EC5E0241AB5D60C6" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\nl\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpB289981886E356FA97A78A48BF159137" Directory="dirD2E56901A84C78A8D50A25841E0B30E7" Guid="*">
                <File Id="fil2EF07288F246DA063671F0019D2BE5B0" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\pl\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp37B09F730BBA4CC0A3151861AD201B0A" Directory="dirA6BB130C0CA3E0E5CFC772B5C5441B30" Guid="*">
                <File Id="fil12C365CDADB72531ED30A4EEB1646A9C" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\pt\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp2DEAA92168B7889DDAEE3A92715EC231" Directory="dirF36506AA31AFBBBCFF62E7289AC26574" Guid="*">
                <File Id="filDF922EBED42F4A87CBC656715C7D9B3E" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\pt-BR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp50FC7D49462BC1F3C33CCEB5178B1330" Directory="dir210AD0F3DE80719FB755633FC20B9CCC" Guid="*">
                <File Id="filDB1CE434339CBA63098D5E8D88392B56" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\ru\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp9D381D1EB34DB9A3760DB5D76B400D29" Directory="dirB78F9D9C4A3D5ABEBBE49702FFEA37EB" Guid="*">
                <File Id="fil71945E772C1CE9B2DEAA3FE75EEA6404" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\sv-SE\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp527E897DFF9F279E75A4FCBCC4C85F60" Directory="dir59AE3E7BC59CCB20AB90DF502B54F29A" Guid="*">
                <File Id="fil9112724F10E92AB66A3BF826B70F2907" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\tr-TR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp1EB262EE4738AA5E0EB15240BE44B3A8" Directory="dirC968BE82586AFE2154ACE284EF64E2F3" Guid="*">
                <File Id="filDDDE059D6E64ECE8D4B93C597134D6DE" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\uk\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp0DC1E64A1B96AB107AD496D709990126" Directory="dirC5BE6AC2977AC488E7E666637A051DA0" Guid="*">
                <File Id="filA4B6032E6F4D35A161B9F684B1A4384F" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\zh-CN\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp301F0F7F98142D42D126A631EF743D97" Directory="dirE834FB3A76231259B008786493AC997D" Guid="*">
                <File Id="filEEA38C546D292169D558DF9279BAC966" KeyPath="yes" Source="$(var.HarvestPath)\Languages\Languages\zh-TW\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpA94B75651045F785CCA29EE2638258AF" Directory="dir2ED89DAEE76564AD33DB582F055A5274" Guid="*">
                <File Id="fil4CB4D838CA0B7A043E05392D9F7C1E94" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-x64\native\WebView2Loader.dll" />
            </Component>
            <Component Id="cmp33BB9F0091C56A034105A47C3035D1A9" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="fil518DA4E8D2E5F7E1FEF6055DD9BB727E" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_confcons_v2_8.xsd" />
            </Component>
            <Component Id="cmpB902A64979524E0126DB594BA240DEB7" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="filED09F28F7EEE2FFFB9BF6657D70C9D98" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_credrepo_list_v1_0.xsd" />
            </Component>
            <Component Id="cmp6FE9FEDBE5634AF395230BA8D500104A" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="fil07B6D1F679673392A00E25C468ED6A7F" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_creds_v1_0.xsd" />
            </Component>
            <Component Id="cmp3EE433F9C5D50BC91EC94364EE71FD25" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="fil0E2B1639DA1C4573982DEA27205D6130" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_default_settings_v1_0.json" />
            </Component>
            <Component Id="cmp3574060B3152DDCCE44B3528A0C71B63" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="fil146F3F5A21FE54B5545684791AB50136" KeyPath="yes" Source="$(var.HarvestPath)\Themes\darcula.vstheme" />
            </Component>
            <Component Id="cmp10355C1CB059E65F1ED03458EADE7C5F" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="filCE7764B2C5A95183E805582F263BCC5F" KeyPath="yes" Source="$(var.HarvestPath)\Themes\vs2015blue.vstheme" />
            </Component>
            <Component Id="cmpF674F6C548EBF993B72FA4EBF5ADAC21" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="filA5A98FD5A7D4DEF6CDA6C3652E12EC66" KeyPath="yes" Source="$(var.HarvestPath)\Themes\vs2015dark.vstheme" />
            </Component>
            <Component Id="cmp785919C5C947C3DFF8751EAA846B5FA7" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="fil46DE91950AEE35EDBAF9606ACF6FE1C4" KeyPath="yes" Source="$(var.HarvestPath)\Themes\vs2015light.vstheme" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir1A4351490EDC54FFAAE8D2A13D8B5C1E" Name="ja-JP" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir1AFA93102FCA9FBEC2966FCACED8C1A9" Name="cs-CZ" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir210AD0F3DE80719FB755633FC20B9CCC" Name="ru" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir2BD65C87E55509DA9225F87D9547ADA2" Name="fi-FI" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir98D160BE690DB35BE57FFB8F3DCF5AC7">
            <Directory Id="dir2ED89DAEE76564AD33DB582F055A5274" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir39E06C640F1024E183719EA37A35DA6A" Name="nb-NO" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir453026E488A0BBFF1A308755D2B9BF9F" Name="hu" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir493575540E263D276ADE4AE008626DC7" Name="lt" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir4C505595AE9F20FDA635D87E4B336873" Name="it" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir59AE3E7BC59CCB20AB90DF502B54F29A" Name="tr-TR" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir96AB459F9F5ADF1EDF1CF38173FA7634" Name="es-AR" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dir985D5A906253F39A06947BE0EF6F0269" Name="fr" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB699B779DD859CB7CAD46DA4BC9017C0">
            <Directory Id="dir98D160BE690DB35BE57FFB8F3DCF5AC7" Name="win-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir76FECF1F6866C99B53BEB3C218E46523">
            <Directory Id="dir9DF8118B04E7AB2671570EB20E05C442" Name="Languages" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirA6BB130C0CA3E0E5CFC772B5C5441B30" Name="pt" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirA897D18E6E07823761300E74492E6FEB" Name="es" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirAF6C0D6E36E224DFCAA818C431F1793D" Name="ko-KR" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirB3291EF77F897E7301D938303D9CD529" Name="el" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirB78F9D9C4A3D5ABEBBE49702FFEA37EB" Name="sv-SE" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirC5BE6AC2977AC488E7E666637A051DA0" Name="zh-CN" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirC5CE47E87BADAF4B1E7B07DB212F344A" Name="nl" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirC968BE82586AFE2154ACE284EF64E2F3" Name="uk" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirD2E56901A84C78A8D50A25841E0B30E7" Name="pl" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirE834FB3A76231259B008786493AC997D" Name="zh-TW" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirED985479573DF8B313197B5DBB2F73F2" Name="de" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9DF8118B04E7AB2671570EB20E05C442">
            <Directory Id="dirF36506AA31AFBBBCFF62E7289AC26574" Name="pt-BR" />
        </DirectoryRef>
    </Fragment>
</Wix>