name: Build_and_Release_mR-NB
on:
  push:
    branches:
      - v1.78.2-dev
  
jobs:
  Build-and-Release:
    runs-on: windows-2022
    steps:
      - name: (01) Checkout Repository
        uses: actions/checkout@v4
        
      - name: (02) Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          vs-version: '17.14.12'
          
      - name: (03) Install and run dotnet-t4 to transform T4 templates
        shell: pwsh
        run: |
          dotnet tool install --global dotnet-t4
          $ttFile = "$env:GITHUB_WORKSPACE\mRemoteNG\Properties\AssemblyInfo.tt"
          t4 $ttFile
  
      - name: (04) Cache NuGet Packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
            
      - name: (05) Restore NuGet Packages
        shell: pwsh
        run: dotnet restore
        
      - name: (06) Build Release
        shell: pwsh
        run: msbuild "$Env:GITHUB_WORKSPACE\mRemoteNG.sln" -p:Configuration="Release" -p:Platform=x64 /verbosity:minimal
        
      - name: (07) Generate Version Info
        id: version
        shell: pwsh
        run: |
          $assemblyInfoPath = "${{ github.workspace }}\mRemoteNG\Properties\AssemblyInfo.cs"
          $line = Get-Content $assemblyInfoPath | Where-Object { $_ -match 'AssemblyVersion\("(.+?)"\)' }
          if ($line -match 'AssemblyVersion\("(?<ver>\d+\.\d+\.\d+)\.(?<build>\d+)"\)') {
            $version = $matches['ver']
            $build = $matches['build']
          } else {
            throw "Could not extract version and build number"
          }
          $date = Get-Date -Format "yyyyMMdd"
          $zipName = "mRemoteNG-$date-v$version-NB-$build.zip"
          echo "zipname=$zipName" >> $env:GITHUB_OUTPUT
          echo "version=$version" >> $env:GITHUB_OUTPUT
          echo "build=$build" >> $env:GITHUB_OUTPUT
          
      - name: (08) Create Zip File
        shell: pwsh
        run: |
          $sourceDir = "$Env:GITHUB_WORKSPACE\mRemoteNG\bin\x64\Release\win-x64"
          $destFile = "$Env:GITHUB_WORKSPACE\$($env:GITHUB_OUTPUT.Split('=')[1])"
          Compress-Archive -Path "$sourceDir\*" -DestinationPath $destFile
          echo "Dest Path: $destFile"
          
      - name: (09) Upload Zip File
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.version.outputs.zipname }}
          path: ${{ github.workspace }}\${{ steps.version.outputs.zipname }}
          
      - name: (10) Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ steps.version.outputs.zipname }}
          path: ./
          
      - name: (11) Create release and upload asset
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          DATE=$(date +'%Y.%m.%d')
          TAG="${DATE}-v${{ steps.version.outputs.version }}-NB-${{ steps.version.outputs.build }}"
          ZIP="./${{ steps.version.outputs.zipname }}"
          gh release create "$TAG" \
          --title "mRemoteNG ${{ steps.version.outputs.version }} NB ${{ steps.version.outputs.build }}" \
          --notes "${{ steps.changelog.outputs.notes }}" \
          --prerelease \
          "$ZIP"
