name: Build_and_Release_mR-NB
on:
  push:
    branches:
      - v1.78.2-dev
      
permissions:
  contents: write
  
jobs:
  Build-and-Release:
    runs-on: windows-latest
    steps:
      - name: (01) Checkout Repository
        uses: actions/checkout@v4
        
      - name: (02) Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          vs-version: '17.14.12'
          
      - name: (03) Install and run dotnet-t4 to transform T4 templates
        shell: pwsh
        run: |
          dotnet tool install --global dotnet-t4
          $ttFile = "$env:GITHUB_WORKSPACE\mRemoteNG\Properties\AssemblyInfo.tt"
          t4 $ttFile
  
      - name: (04) Cache NuGet Packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
            
      - name: (05) Restore NuGet Packages
        shell: pwsh
        run: dotnet restore
        
      - name: (06) Build Release
        shell: pwsh
        run: msbuild "$Env:GITHUB_WORKSPACE\mRemoteNG.sln" -p:Configuration="Release" -p:Platform=x64 /verbosity:minimal
        
      - name: (07) Generate Version Info
        id: version
        shell: pwsh
        run: |
          $assemblyInfoPath = "${{ github.workspace }}\mRemoteNG\Properties\AssemblyInfo.cs"
          $line = Get-Content $assemblyInfoPath | Where-Object { $_ -match 'AssemblyVersion\("(.+?)"\)' }
          if ($line -match 'AssemblyVersion\("(?<ver>\d+\.\d+\.\d+)\.(?<build>\d+)"\)') {
            $version = $matches['ver']
            $build = $matches['build']
          } else {
            throw "Could not extract version and build number"
          }
          $date = Get-Date -Format "yyyyMMdd"
          $zipName = "mRemoteNG-$date-v$version-NB-$build.zip"
          echo "zipname=$zipName" >> $env:GITHUB_OUTPUT
          echo "version=$version" >> $env:GITHUB_OUTPUT
          echo "build=$build" >> $env:GITHUB_OUTPUT
          
      - name: (08) Create Zip File
        shell: pwsh
        run: |
          $sourceDir = "$Env:GITHUB_WORKSPACE\mRemoteNG\bin\x64\Release\win-x64"
          Compress-Archive -Path "$sourceDir\*" -DestinationPath ${{ steps.version.outputs.zipname }}
          echo "File: ${{ steps.version.outputs.zipname }}"
          echo "Token: secrets.GitHubActions"
          
      - name: (09) Create release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token

        with:
          tag_name: "$(date +'%Y%m%d')-v${{ steps.version.outputs.version }}-NB-${{ steps.version.outputs.build }}"
          name: "mRemoteNG ${{ steps.version.outputs.version }} NB ${{ steps.version.outputs.build }}"
          files: $ZIP
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: true
          prerelease: true

        #run: |
        #  DATE=$(date +'%Y.%m.%d')
        #  TAG="${DATE}-v${{ steps.version.outputs.version }}-NB-${{ steps.version.outputs.build }}"
        #  ZIP="./${{ steps.version.outputs.zipname }}"
          
          # Create release with attached asset
        #  gh release create "$TAG" \
        #  --title "mRemoteNG ${{ steps.version.outputs.version }} NB ${{ steps.version.outputs.build }}" \
        #  --notes "Automated release from GitHub Actions" \
        #  --prerelease \
        #  "$ZIP"
        #  echo "File: $ZIP"
