name: Build_mR-NB
on:
  push:
    branches:
      - v1.78.2-dev
  
jobs:
  Build-Release:
    runs-on: windows-2022
    outputs:
      zipname: ${{ steps.version.outputs.zipname }}
      version: ${{ steps.version.outputs.version }}
      build: ${{ steps.version.outputs.build }}
    steps:
      - name: 01.1 Checkout Repository
        uses: actions/checkout@v4
        
      - name: 01.2 Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          vs-version: '17.14.12'
          
      - name: 01.3 Install and run dotnet-t4 to transform T4 templates
        shell: pwsh
        run: |
          dotnet tool install --global dotnet-t4
          $ttFile = "$env:GITHUB_WORKSPACE\mRemoteNG\Properties\AssemblyInfo.tt"
          t4 $ttFile
  
      - name: 01.4 Cache NuGet Packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
            
      - name: 01.5 Restore NuGet Packages
        shell: pwsh
        run: dotnet restore
        
      - name: 01.6 Build Release
        shell: pwsh
        run: msbuild "$Env:GITHUB_WORKSPACE\mRemoteNG.sln" -p:Configuration="Release" -p:Platform=x64 /verbosity:minimal
        
      - name: 01.7 Generate Version Info
        id: version
        shell: pwsh
        run: |
          $assemblyInfoPath = "${{ github.workspace }}\mRemoteNG\Properties\AssemblyInfo.cs"
          $line = Get-Content $assemblyInfoPath | Where-Object { $_ -match 'AssemblyVersion\("(.+?)"\)' }
          if ($line -match 'AssemblyVersion\("(?<ver>\d+\.\d+\.\d+)\.(?<build>\d+)"\)') {
            $version = $matches['ver']
            $build = $matches['build']
          } else {
            throw "Could not extract version and build number"
          }
          $date = Get-Date -Format "yyyyMMdd"
          $zipName = "mRemoteNG-$date-v$version-NB-$build.zip"
          echo "zipname=$zipName" >> $env:GITHUB_OUTPUT
          echo "version=$version" >> $env:GITHUB_OUTPUT
          echo "build=$build" >> $env:GITHUB_OUTPUT
          
      - name: 01.8 Create Zip File
        shell: pwsh
        run: |
          $sourceDir = "$Env:GITHUB_WORKSPACE\mRemoteNG\bin\x64\Release\win-x64"
          $destFile = "$Env:GITHUB_WORKSPACE\$($env:GITHUB_OUTPUT.Split('=')[1])"
          Compress-Archive -Path "$sourceDir\*" -DestinationPath $destFile
          
      - name: 01.9 Upload Zip File
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.version.outputs.zipname }}
          path: ${{ github.workspace }}\mRemoteNG-${{ steps.version.outputs.zipname }}

  Create-Release:
    needs: [Build-Release]
    runs-on: ubuntu-22.04
    
    steps:
      - name: 02.1 Checkout Repository
        uses: actions/checkout@v4
        
      - name: 02.2 Download Artifact (Raw Format)
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.Build-Release.outputs.zipname }}
          path: ./
          archive-format: raw
          
      - name: 02.3 Extract release notes from CHANGELOG.md
        id: changelog
        run: |
          notes=$(awk '/^## /{i++} i==1{print}' CHANGELOG.md)
          echo "notes<<EOF" >> $GITHUB_OUTPUT
          echo "$notes" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
          
      - name: 02.4 Create release and upload asset
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          DATE=$(date +'%Y.%m.%d')
          TAG="${DATE}-v${{ needs.build-release.outputs.version }}-NB-${{ needs.build-release.outputs.build }}"
          ZIP="${{ needs.build-release.outputs.zipname }}"
          gh release create "$TAG" \
          --title "mRemoteNG ${{ needs.build-release.outputs.version }} Build ${{ needs.build-release.outputs.build }}" \
          --notes "${{ steps.changelog.outputs.notes }}" \
          --prerelease \
          "$ZIP"
