name: Build mR-NB

on:
  push:
    branches:
      - v1.78.2-dev

jobs:
  Build-Release:
    runs-on: windows-2022
    steps:
      - name: 01. Checkout Repository
        uses: actions/checkout@v4

      - name: 02. Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          vs-version: '17.14.11'
          
      - name: Install and run dotnet-t4 to transform T4 templates
        shell: pwsh
        run: |
          dotnet tool install --global dotnet-t4
          $ttFile = "$env:GITHUB_WORKSPACE\mRemoteNG\Properties\AssemblyInfo.tt"
          t4 $ttFile
  
      - name: 04. Cache NuGet Packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: 05. Restore NuGet Packages
        shell: pwsh
        run: dotnet restore

      - name: 06. Build Release
        shell: pwsh
        run: msbuild "$Env:GITHUB_WORKSPACE\mRemoteNG.sln" -p:Configuration="Release" -p:Platform=x64 /verbosity:minimal

      - name: 07. Compress Release Output
        shell: pwsh
        run: |
          $assemblyInfoPath = "${{ github.workspace }}\mRemoteNG\Properties\AssemblyInfo.cs"
          $line = Get-Content $assemblyInfoPath | Where-Object { $_ -match 'AssemblyVersion\("(.+?)"\)' }
          if ($line -match 'AssemblyVersion\("(?<ver>\d+\.\d+\.\d+)\.(?<build>\d+)"\)') {
            $version = $matches['ver']
            $build = $matches['build']
          } else {
            throw "Could not extract version and build number"
          }
          $date = Get-Date -Format "ddMMyyyy"
          $zipName = "mRemoteNG-$version-(NB_$build)_$date.zip"
          
          $source = "${{ github.workspace }}\mRemoteNG\bin\x64\Release\win-x64"
          $destination = "${{ github.workspace }}\$zipName"

          Add-Type -AssemblyName System.IO.Compression.FileSystem
          if (Test-Path $destination) { Remove-Item $destination }
          [System.IO.Compression.ZipFile]::CreateFromDirectory($source, $destination)
          echo "::set-output name=zipname::$zipName"

      - name: 08. Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-x64
          path: ${{ github.workspace }}\${{ steps.zipstep.outputs.zipname }}
          if-no-files-found: error

  Create-Release:
    needs: [Build-Release]
    runs-on: ubuntu-22.04
    steps:
      - name: 01. Checkout Repository
        uses: actions/checkout@v4

      - name: 02. Download Artifacts
        uses: actions/download-artifact@v4

      - name: 03. Create Release on GitHub
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create "v1.77.3-dev-${GITHUB_RUN_NUMBER}" \
            --title "v1.77.3-dev-${GITHUB_RUN_NUMBER}" \
            --prerelease \
            --generate-notes \
            release-x64.zip
