name: Build mR-NB

on:
  push:
    branches:
      - v1.78.2-dev

jobs:
  Build-Release:
    runs-on: windows-2022
    steps:
      - name: 01. Checkout Repository
        uses: actions/checkout@v4

      - name: 02. Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          vs-version: '17.14.11'
          
      - name: Transform T4 templates
        run: dotnet-t4 "$(System.DefaultWorkingDirectory)/YourProject/Properties/AssemblyInfo.tt"
  
      - name: 04. Cache NuGet Packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: 05. Restore NuGet Packages
        shell: pwsh
        run: dotnet restore

      - name: 06. Build Release
        shell: pwsh
        run: msbuild "$Env:GITHUB_WORKSPACE\mRemoteNG.sln" -p:Configuration="Release" -p:Platform=x64 /verbosity:minimal

      - name: 07. Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-x64
          path: ${{ github.workspace }}\mRemoteNGInstaller\Installer\bin\x64\Release\en-US\
          if-no-files-found: error

  Create-Release:
    needs: [Build-Release]
    runs-on: ubuntu-22.04
    steps:
      - name: 01. Checkout Repository
        uses: actions/checkout@v4

      - name: 02. Download Artifacts
        uses: actions/download-artifact@v4

      - name: 03. Zip Artifacts
        shell: bash
        run: |
          zip -r release-x64.zip release-x64/

      - name: 04. Create Release on GitHub
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create "v1.77.3-dev-${GITHUB_RUN_NUMBER}" \
            --title "v1.77.3-dev-${GITHUB_RUN_NUMBER}" \
            --prerelease \
            --generate-notes \
            release-x64.zip
